<div class="cancel-form">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, label: "Email", required: true, autofocus: true %>
      <%= f.input :first_name, label: "First Name" %>
      <%= f.input :last_name, label: "Last Name" %>
      <%= f.input :username, label: "Username" %>
      <%= f.input :password, autocomplete: "off", required: false %>
      <%= f.input :password_confirmation, label: "Password Confirmation", required: false %>
      <%= f.input :profile_photo, type: :file, label: "Profile photo" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :current_password, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, label: "Update", class: "button small" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
