<%= flash[:notice] %>

<%= form_tag(tweets_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Ticker Search" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<h1>What's your big idea?</h1>

<%= render 'form' %>

<% @tweets.each do |tweet| %>
  <div class="tweet-container row">
    <div class="row">
      <div class="tweet-tile small-6 columns">
        <a href=<%= tweet_path(tweet) %>>
          @<%= tweet.user.username %>
        </a>
      </div>
      <div class="tweet-tile small-6 columns">
        <%= tweet.created_at %>
      </div>
    </div>
    <div class="row">
      <div class="tweet-tile small-4 columns">
        <%= tweet.ticker %>
      </div>
      <div class="tweet-tile small-2 columns">
        <%= tweet.ask %>
      </div>
      <div class="tweet-tile small-2 columns">
        <%= tweet.percent_change %>
      </div>
      <div class="tweet-tile small-2 columns">
        <%= tweet.market_capitalization %>
      </div>
      <div class="tweet-tile small-2 columns">
        <%= tweet.rating %>
      </div>
    </div>
    <div class="row">
      <div class="tweet-tile small-12 columns">
        <%= tweet.body %>
      </div>
    </div>
  </div>
<% end %>
