<h1>@<%= @tweet.user.username %> on <%= @tweet.ticker %></h1>
<p><%= @tweet.body %></p>
<% if user_signed_in? %>
  <% if (@tweet.user == current_user) || (current_user.admin?) %>
  <p><%= link_to "Edit Post", edit_tweet_path(@tweet) %></p>
  <% end %>
<% end %>


<div class="reviews">
  <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <div class="show-page-review">
        <b><%= review.user.username %></b>
        <% if user_signed_in? %>
          <% if (current_user.admin?) || (current_user == review.user) %>
            <%= link_to "Edit Review", edit_tweet_review_path(@tweet.id, review.id) %>
            <%= link_to "Delete Review", tweet_review_path(@tweet.id, review.id), method: :delete %>
          <% end %>
        <% end %>
        <hr />
        <% if review.body.length > 0 %>
          <span class="review-body">
            <%= review.body %>
          </span>
          <br />
        <% end %>
      </div>
    <% end %>
  <% if user_signed_in? %>
    <div class="review-form">
      <%= form_for [@tweet, @review] do |f| %>
      <h3>Add a Review</h3>

      <div class="row">
        <%= f.label :comment, "Comment" %>
        <%= f.text_field :comment %>
      </div>

      <div class="row">
        <%= f.submit "Add Review" %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
