<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TWIKR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto" rel="stylesheet">
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <script src="https://use.fontawesome.com/5c1eac395e.js"></script>
    <%= javascript_pack_tag 'index.js' %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
       <ul class="title-area">
         <li class="name">
           <h1><%= link_to "TWIKR", root_path %></h1>
         </li>
       </ul>

       <section class="top-bar-section">
         <!-- Right Nav Section -->
         <ul class="right">
           <% if user_signed_in? %>
             <li><%= link_to "Welcome #{current_user.first_name}!", root_path %></li>
             <% unless current_user.profile_photo.file.nil? %>
              <li id="profile-photo"><%= image_tag current_user.profile_photo.url, { size: "45x45" } %></li>
             <% end %>
             <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
             <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
           <% else %>
             <li><%= link_to 'Sign Up', new_user_registration_path %></li>
             <li><%= link_to 'Sign In', new_user_session_path %></li>
           <% end %>
         </ul>
       </section>
     </nav>

     <div class="row">
       <div class="website">
         <%= yield %>
       </div>
     </div>
  </body>
</html>
